/* Remove padding and margin */ 
*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}

.UniversLTPro-55Roman { 
  font-family: UniversLTPro-55Roman;
  font-weight: normal;
  font-style: normal;
}
.UniversLTPro-65Bold { 
  font-family: UniversLTPro-65Bold;
  font-weight: normal;
  font-style: normal;
}
.UniversLTPro-45Light { 
  font-family: UniversLTPro-45Light;
  font-weight: normal;
  font-style: normal;
}

body 
{ 
    margin: 0;
  	padding: 0;
    color: #1D1D1B;
    font-family: 'UniversLTPro-45Light', Helvetica, Arial; 
    font-weight: normal; 
    font-style: normal;  
    font-size:  14px;  
    line-height: 19px;
} 






